
block sider-left
     
    .chat-header 
        h5 Chats 
        .box-search
            span(class="icon-search")
                i(class="fa-solid fa-magnifying-glass")
            form(form-search)
                input(type="text" placeholder="Search messages or users")
    .list-user-active 
        .item
            a(href="" class="box-user ")
                .inner-avatar 
                    img(src="/images/avatar-2.jpg", alt="")
                    span(class="bagde-active") 
                .inner-fullname Patrick
        .item
            a(href="" class="box-user ")
                .inner-avatar 
                    img(src="/images/avatar-2.jpg", alt="")
                    span(class="bagde-active") 
                .inner-fullname Patrick
        .item
            a(href="" class="box-user ")
                .inner-avatar 
                    img(src="/images/avatar-2.jpg", alt="")
                    span(class="bagde-active") 
                .inner-fullname Patrick
        .item
            a(href="" class="box-user ")
                .inner-avatar 
                    img(src="/images/avatar-2.jpg", alt="")
                    span(class="bagde-active") 
                .inner-fullname Patrick
    
    .data-list-chat
        h5 Recent
        .item.active
            .avatar-left 
                img(src="/images/avatar-2.jpg", alt="")
                span(class="bagde-active") 
            .content
                .inner-fullname Patrick
                .message-new hey! there I'm available 
            .time-send 02:50 PM
        .item
            .avatar-left 
                img(src="/images/avatar-2.jpg", alt="")
                span(class="bagde-active") 
            .content
                .inner-fullname Patrick
                .message-new hey! there I'm available 
            .time-send 02:50 PM
        .item
            .avatar-left 
                img(src="/images/avatar-2.jpg", alt="")
                span(class="bagde-active") 
            .content
                .inner-fullname Patrick
                .message-new hey! there I'm available 
            .time-send 02:50 PM
        .item
            .avatar-left 
                img(src="/images/avatar-2.jpg", alt="")
                span(class="bagde-active") 
            .content
                .inner-fullname Patrick
                .message-new hey! there I'm available 
            .time-send 02:50 PM
       

